<% include partials/header %>
      <main>
        <div>
          <h2 class="text">Blog App</h2>
        </div>
        <button class="btn center">
          <a href="/articles"> Go to Articles </a>
        </button>
        <h3 class="center">
          <%= user.email %> 
        </h3>
      </main>
    </div>
