<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/508c3a88fa.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="container">
        <% if(user){ %>
        <nav class="flex">
          <a class="home" href="/"> Home </a>
          <a href=""><i class="far fa-user"></i><%= user.name %></a>
          <button class="btn">
            <a href="/articles/new"> Add Article </a>
          </button>
        </nav>
        <a href="/users/logout">
          <button class="btn logout">Logout</button>
        </a>
        <% } else{ %>
        <a class="home" href="/"> Home </a>

        <a href="/users/login">
          <button class="btn">Login</button>
        </a>
        <a href="/users/register">
          <button class="btn">Register</button>
        </a>
        <% } %>
      </div>
    </header>
  </body>
</html>
