<%include partials/header %>
<main>
  <fieldset>
    <form action="/user/login" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input class="submit" type="submit" placeholder="submit" />
    </form>
  </fieldset>
</main>
