<%include partials/header%>
<main>
  <h4><%= podcast.artist %></h4>
  <h4>
    <audio class="each-podcast" src="">
      <source
        class="audio"
        src="/uploads/<%= podcast.audioFile %> "
        type="audio/mpeg"
      />
    </audio>
  </h4>
</main>
